#! /usr/bin/env bash
#PBS -J 1-%JOBS%:1
#PBS -N 09.analyze.data
#PBS --workdir=.
#PBS -e ?CLUSTER_OUTPUT_DIR?/%A.%a.err
#PBS -o ?CLUSTER_OUTPUT_DIR?/%A.%a.out

# resources
#PBS -l walltime=8:00:00
#PBS -l select=1:ncpus=1
#PBS -l mem=96GB

start_time=$(date +%s)
echo "start time: $start_time"

ARRAY_TASK_STEP=1;
step=0;
while [[ $step -lt $ARRAY_TASK_STEP ]]
do
    index=$(($PBS_TASK_ID+$step))
    if [[ $index -le $PBS_TASK_LAST ]];
    then
        eval $(sed -n ${index}p ?SLURM_DIR?/09.analyze.data.cmds.txt) || exit 100
    fi
    step=$(($step+1))
done

end_time=$(date +%s)
echo "end time: $end_time"
echo "run time: $((${end_time}-${start_time}))"
