$SNHIC_PATH/02.bwa.mem.cmds.py --threads ?BWA_THREADS? ?FASTQ_DIR? ?GENOME_FILE? ?SAM_DIR? > ?SLURM_DIR?/02.bwa.mem.cmds.txt

JOBS=`cat ?SLURM_DIR?/02.bwa.mem.cmds.txt | wc -l`
sed -i -e "s/%JOBS%/$JOBS/g" ?SLURM_DIR?/02.bwa.mem.slurm.sh

echo "written to -> ?SLURM_DIR?/02.bwa.mem.cmds.txt"
echo "sbatch --array=1-$JOBS:1 ?SLURM_DIR?/02.bwa.mem.slurm.sh"
