$SNHIC_PATH/04.convert.stats.cmds.py ?STATS_PARSE_DIR? ?STATS_DEDUP_DIR? ?STATS_FILTERBYCOV_DIR? ?STATS_DIR? > ?SLURM_DIR?/04.convert.stats.cmds.txt

echo 'written to -> ?SLURM_DIR?/04.convert.stats.cmds.txt'
