$SNHIC_PATH/11.tad.insulation.py --diagonals ?TAD_INSUL_DIAGONALS? --diamond-size ?TAD_INSUL_DIAMOND_SIZE? --distance ?TAD_INSUL_DISTANCE? --tags ?TAGS? --domains-file ?DOMAINS_FILE? --cooler-dir ?COOLERS_MERGED_DIR? --samples-file ?SAMPLES_FILE? --output-dir ?TAD_INSUL_DIR?

echo 'written to -> ?TAD_INSUL_DIR?'