$SNHIC_PATH/15.bootstrap.loop.strength.py --threads ?BOOTSTRAP_THREADS? --iterations ?BS_LOOP_STRENGTH_ITERATIONS? --genome-path ?GENOME_DIR? --loops-file ?LOOPS_FILE? --cooler-dir ?COOLERS_MERGED_DIR? --conditions "?PAIRED_CONDITIONS?" --output-dir ?BOOTSTRAP_OUTPUT_DIR? > ?SLURM_DIR?/15.bootstrap.loop.strength.cmds.txt

JOBS=`cat ?SLURM_DIR?/15.bootstrap.loop.strength.cmds.txt | wc -l`
sed -i -e "s/%JOBS%/$JOBS/g" ?SLURM_DIR?/15.bootstrap.loop.strength.slurm.sh

echo "written to -> ?SLURM_DIR?/15.bootstrap.loop.strength.cmds.txt"
echo "sbatch --array=1-$JOBS:1 ?SLURM_DIR?/15.bootstrap.loop.strength.slurm.sh"
